# Data Cleaning for Analysis

In [32]:
#importing dependencies 
import pandas as pd

In [33]:
#Gardner Data Cleaning
Ga_df = pd.read_csv('../PyDIonIS/Data/Gardner18_Data/DietaryIntake_Table.csv')
Ga2_df = pd.read_csv('../PyDIonIS/Data/Gardner18_Data/DietaryIntake2_Table.csv')
#Renaming Columns
Ga_df.rename(columns= {'Unnamed: 0': 'Low_Fat',
                       'Low-Fat vs Low-Carbohydrate Diet on Weight Loss in Overweight Adults Original Investigation Research' : 'Low_Carb'},
             inplace=True)
Ga_df.head()

   Low_Fat                                           Low_Carb
0        0              Table 2. Dietary Intake by Time Point
1        1  Healthy Low-Fat Diet Healthy Low-Carbohydrate ...
2        2                                      No. of No. of
3        3  aParticipants Mean (SD) Participants Mean (SD)...
4        4                          Total Energy Intake, kcal

In [34]:
#Splitting Information to new Columns
Ga_df = Ga_df.Low_Carb.str.split(" ", expand=True)
#Dropping Rows 
Ga_df = Ga_df.drop([0,1,2,3])
#Dropping Coulumns (8, 9, 10, 11)
Ga_df = Ga_df.drop(columns=[8, 9, 10, 11])

In [35]:
Ga_df

                 0       1        2       3       4       5       6       7
4            Total  Energy  Intake,    kcal    None    None    None    None
5         Baseline     304   2148.1  (39.4)     304  2222.8  (37.5)   −76.3
6                3      mo      274  1515.0  (27.7)     275  1580.8  (29.1)
7                6      mo      240  1624.4  (37.3)     251  1621.3  (33.2)
8               12      mo      225  1716.1  (34.5)     224  1697.1  (32.1)
9   Carbohydrates,       g     None    None    None    None    None    None
10        Baseline     304    241.8   (5.0)     304   246.5   (4.5)    −4.9
11               3      mo      274   205.2   (4.3)     275    96.6   (3.4)
12               6      mo      240   211.2   (5.3)     251   113.2   (4.1)
13              12      mo      225   212.9   (5.0)     224   132.4   (4.2)
14  Carbohydrates,       %     kcal    None    None    None    None    None
15        Baseline     304     44.5   (0.5)     304    44.0   (0.4)     0.5
16               3      mo      274    52.6   (0.6)     275    23.1   (0.7)
17               6      mo      240    50.8   (0.7)     251    26.5   (0.7)
18              12      mo      225    48.4   (0.7)     224    29.8   (0.7)
19            Fat,       g     None    None    None    None    None    None
20        Baseline     304     87.0   (2.0)     304    92.6   (1.9)    −5.6
21               3      mo      274    42.0   (1.2)     275    88.8   (2.0)
22               6      mo      240    50.3   (1.8)     251    86.6   (2.0)
23              12      mo      225    57.3   (1.7)     224    86.2   (2.0)
24            Fat,       %     kcal    None    None    None    None    None
25        Baseline     304     34.8   (0.4)     304    36.0   (0.3)    −1.2
26               3      mo      274    24.0   (0.5)     275    49.0   (0.5)
27               6      mo      240    26.4   (0.6)     251    46.8   (0.6)
28              12      mo      225    28.7   (0.5)     224    44.6   (0.6)
29        Protein,       g     None    None    None    None    None    None
30        Baseline     304     92.1   (1.7)     304    93.1   (1.6)    −1.1
31               3      mo      274    79.5   (1.6)     275    96.9   (2.0)
32               6      mo      240    81.9   (1.9)     251    93.8   (1.9)
33              12      mo      225    84.5   (1.8)     224    93.3   (2.0)
34        Protein,       %     kcal    None    None    None    None    None
35        Baseline     304     17.9   (0.3)     304    17.3   (0.2)     0.6
36               3      mo      274    21.5   (0.4)     275    25.9   (0.4)
37               6      mo      240    20.8   (0.4)     251    24.3   (0.4)
38              12      mo      225    20.6   (0.4)     224    22.9   (0.4)
39       Saturated    Fat,        g    None    None    None    None    None
40        Baseline     304     28.9   (0.7)     304    30.8   (0.7)    −1.9
41               3      mo      274    12.7   (0.4)     275    29.1   (0.7)
42               6      mo      240    15.3   (0.7)     251    27.9   (0.7)
43              12      mo      225    18.2   (0.6)     224    28.2   (0.8)
44       Saturated    Fat,        %    kcal    None    None    None    None
45        Baseline     304     11.5   (0.2)     304    11.9   (0.2)    −0.4
46               3      mo      274     7.2   (0.2)     275    16.1   (0.3)
47               6      mo      240     8.0   (0.2)     251    15.0   (0.3)
48              12      mo      225     9.0   (0.2)     224    14.5   (0.3)
49          Fiber,       g     None    None    None    None    None    None
50        Baseline     304     22.0   (0.6)     304    21.6   (0.5)     0.4
51               3      mo      274    24.2   (0.7)     275    16.7   (0.8)
52               6      mo      240    23.7   (0.7)     251    17.2   (0.5)
53              12      mo      225    23.0   (0.6)     224    18.6   (0.5)

In [36]:
#shifting specific rows to align with original table (Pretty sure theres a better way to do this )
Ga_df.loc[5] = Ga_df.loc[5].shift(periods=1,axis=0)
Ga_df.loc[10] = Ga_df.loc[10].shift(periods=1,axis=0)
Ga_df.loc[15] = Ga_df.loc[15].shift(periods=1,axis=0)
Ga_df.loc[20] = Ga_df.loc[20].shift(periods=1,axis=0)
Ga_df.loc[25] = Ga_df.loc[25].shift(periods=1,axis=0)
Ga_df.loc[30] = Ga_df.loc[30].shift(periods=1,axis=0)
Ga_df.loc[35] = Ga_df.loc[35].shift(periods=1,axis=0)
Ga_df.loc[40] = Ga_df.loc[40].shift(periods=1,axis=0)
Ga_df.loc[45] = Ga_df.loc[45].shift(periods=1,axis=0)
Ga_df.loc[50] = Ga_df.loc[50].shift(periods=1,axis=0)

In [37]:
#Checking if they have shifted
Ga_df.head()

       0         1        2       3       4     5       6       7
4  Total    Energy  Intake,    kcal    None  None    None    None
5    NaN  Baseline      304  2148.1  (39.4)   304  2222.8  (37.5)
6      3        mo      274  1515.0  (27.7)   275  1580.8  (29.1)
7      6        mo      240  1624.4  (37.3)   251  1621.3  (33.2)
8     12        mo      225  1716.1  (34.5)   224  1697.1  (32.1)

In [38]:

#Mergging Columns
Ga_df['Nutrients_Timepoint'] = Ga_df[0] + ' ' + Ga_df[1]
#Renaming 
Ga_df.rename(columns= { 2 : 'Low_Fat_SS',
                       3 : 'Low_Fat_Mean',
                       4 : 'Low_Fat_SD',
                       5 : 'Low_Carb_SS',
                       6 : 'Low_Carb_Mean',
                       7 : 'Low_Carb_SD'},
             inplace=True)
Ga_df.head()

,0,1,Low_Fat_SS,Low_Fat_Mean,Low_Fat_SD,Low_Carb_SS,Low_Carb_Mean,Low_Carb_SD,Nutrients_Timepoint
4,Total,Energy,"Intake,",kcal,None,None,None,None,Total Energy
5,NaN,Baseline,304,2148.1,(39.4),304,2222.8,(37.5),NaN
6,3,mo,274,1515.0,(27.7),275,1580.8,(29.1),3 mo
7,6,mo,240,1624.4,(37.3),251,1621.3,(33.2),6 mo
8,12,mo,225,1716.1,(34.5),224,1697.1,(32.1),12 mo

In [39]:
#Dropping Non essential columns 
Ga_df = Ga_df.drop(columns= [0 ,1])

Ga_df.head()

,Low_Fat_SS,Low_Fat_Mean,Low_Fat_SD,Low_Carb_SS,Low_Carb_Mean,Low_Carb_SD,Nutrients_Timepoint
4,"Intake,",kcal,None,None,None,None,Total Energy
5,304,2148.1,(39.4),304,2222.8,(37.5),NaN
6,274,1515.0,(27.7),275,1580.8,(29.1),3 mo
7,240,1624.4,(37.3),251,1621.3,(33.2),6 mo
8,225,1716.1,(34.5),224,1697.1,(32.1),12 mo

In [40]:
#Reording Columns
Ga_df = Ga_df[['Nutrients_Timepoint', 'Low_Fat_SS', 'Low_Fat_Mean', 'Low_Fat_SD', 'Low_Carb_SS', 'Low_Carb_Mean', 'Low_Carb_SD']]
#Reseting index
Ga_df = Ga_df.reset_index().drop('index', axis=1)

Ga_df.head()

,Nutrients_Timepoint,Low_Fat_SS,Low_Fat_Mean,Low_Fat_SD,Low_Carb_SS,Low_Carb_Mean,Low_Carb_SD
0,Total Energy,"Intake,",kcal,None,None,None,None
1,NaN,304,2148.1,(39.4),304,2222.8,(37.5)
2,3 mo,274,1515.0,(27.7),275,1580.8,(29.1)
3,6 mo,240,1624.4,(37.3),251,1621.3,(33.2)
4,12 mo,225,1716.1,(34.5),224,1697.1,(32.1)

In [41]:
#Updating values/strings in certain cells
Ga_df.loc[0,['Nutrients_Timepoint']] = ['Total Energy Intake, kcal']
Ga_df.loc[1,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[6,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[11,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[16,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[22,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[28,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[34,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[40,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[46,['Nutrients_Timepoint']] = ['Baseline']
Ga_df.loc[0,['Low_Fat_SS']] = ['None']
Ga_df.loc[0,['Low_Fat_Mean']] = ['None']

Ga_df.head()

,Nutrients_Timepoint,Low_Fat_SS,Low_Fat_Mean,Low_Fat_SD,Low_Carb_SS,Low_Carb_Mean,Low_Carb_SD
0,"Total Energy Intake, kcal",None,None,None,None,None,None
1,Baseline,304,2148.1,(39.4),304,2222.8,(37.5)
2,3 mo,274,1515.0,(27.7),275,1580.8,(29.1)
3,6 mo,240,1624.4,(37.3),251,1621.3,(33.2)
4,12 mo,225,1716.1,(34.5),224,1697.1,(32.1)

In [42]:
#Stripping parenthesis from values
try:
    Ga_df['Low_Fat_SD'] = Ga_df['Low_Fat_SD'].str.replace(r'\D', '')
except:
    (TypeError)
try:
    Ga_df['Low_Carb_SD'] = Ga_df['Low_Carb_SD'].str.replace(r'\D', '')
except:
    (TypeError)

/var/folders/c3/ng1z32950_l7s2jnlvm0kv640000gn/T/ipykernel_21966/488706166.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Ga_df['Low_Fat_SD'] = Ga_df['Low_Fat_SD'].str.replace(r'\D', '')
/var/folders/c3/ng1z32950_l7s2jnlvm0kv640000gn/T/ipykernel_21966/488706166.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  Ga_df['Low_Carb_SD'] = Ga_df['Low_Carb_SD'].str.replace(r'\D', '')

In [43]:
Ga_df.head()

,Nutrients_Timepoint,Low_Fat_SS,Low_Fat_Mean,Low_Fat_SD,Low_Carb_SS,Low_Carb_Mean,Low_Carb_SD
0,"Total Energy Intake, kcal",None,None,None,None,None,None
1,Baseline,304,2148.1,394,304,2222.8,375
2,3 mo,274,1515.0,277,275,1580.8,291
3,6 mo,240,1624.4,373,251,1621.3,332
4,12 mo,225,1716.1,345,224,1697.1,321

In [44]:
#Gardner clean to csv
Ga_df.to_csv('../PyDIonIS/Data/Gardner18_Data/Clean_Data/DI_Table.csv')

In [45]:
#Renaming for ease
Ga2_df.rename(columns= {'Research Original Investigation': 'Low_Fat',
                       'Low-Fat vs Low-Carbohydrate Diet on Weight Loss in Overweight Adults' : 'Low_Carb'},
             inplace=True)
Ga2_df.head()

,Unnamed: 0,Low_Fat,Low_Carb
0,0,Table 2. Dietary Intake by Time Point (continued),NaN
1,1,Healthy Low-Fat Diet,Healthy Low-Carbohydrate Diet
2,2,No. of,No. of
3,3,aParticipants,Mean (SD) Participants Mean (SD) Mean Between-...
4,4,"Fiber, g/1000 kcal",NaN

In [47]:
#Splitting Information to new Columns
LowFat = Ga2_df.Low_Fat.str.split(" ", expand=True)
LowCarb = Ga2_df.Low_Fat.str.split(" ", expand=True)
#Dropping Rows 
LowFat = LowFat.drop([3, 4, 5, 6, 7])
#Dropping Coulumns (8, 9, 10, 11)
#Ga_df = Ga_df.drop(columns=[8, 9, 10, 11])